<dialog
  #dialogElement
  (click)="onClick($event)"
  (keydown.esc)="onDialogClosed()"
  (close)="onDialogClosed()"
  tabindex="0"
  class="border-border text-primary bg-surface relative mx-auto w-full max-w-130 self-center rounded-2xl border backdrop:bg-black/40 before:absolute before:top-0 before:left-0 before:h-0.5 before:w-full before:bg-[var(--color)]"
>
  <header class="flex items-center justify-between px-6 pt-5">
    <div>
      <div class="bg-surface2 border-border flex items-center gap-2 rounded-2xl border px-3 py-1">
        <span class="shadow-[var(--color]) h-1.5 w-1.5 rounded-full bg-[var(--color)]"></span>
        <span class="text-secondary text-sm tracking-[0.5px]">{{ selectedColumn().header }}</span>
      </div>

      <h2 class="mt-3.5 text-lg font-extrabold -tracking-[0.3px]">Add new task</h2>
    </div>

    <button
      class="bg-surface2 border-border text-secondary hover:bg-surface3 hover:text-primary -mt-3.5 flex h-7.5 w-7.5 cursor-pointer items-center justify-center rounded-lg border text-base focus-within:outline-[var(--color)] focus-visible:outline"
      (click)="onDialogClosed()"
    >
      ✕
    </button>
  </header>

  <form
    [formGroup]="addTaskForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    class="flex flex-col gap-4 px-6 pt-5 pb-6"
  >
    <div class="flex flex-col gap-1.5">
      <label for="task-title" class="label">Task Title</label>
      <input
        formControlName="title"
        id="task-title"
        type="text"
        inputmode="text"
        enterkeyhint="done"
        autocomplete="off"
        placeholder="Enter task title"
        class="input"
        required
      />
      @if (titleIsInvalid) {
        <p class="text-danger text-sm">Add a title for this task</p>
      }
    </div>

    <hr class="text-border" />

    <fieldset class="flex flex-col gap-2">
      <legend class="label">Priority</legend>

      <div class="mt-1.5 flex gap-2">
        <div class="priority-radio">
          <input
            formControlName="priority"
            type="radio"
            name="priority"
            value="low"
            id="low-priority-radio"
          />
          <label for="low-priority-radio"> <span class="bg-priority-low"></span> Low </label>
        </div>

        <div class="priority-radio flex-1">
          <input
            formControlName="priority"
            type="radio"
            name="priority"
            value="medium"
            id="medium-priority-radio"
          />
          <label for="medium-priority-radio">
            <span class="bg-priority-medium"></span> Medium
          </label>
        </div>

        <div class="priority-radio flex-1">
          <input
            formControlName="priority"
            type="radio"
            name="priority"
            value="high"
            id="high-priority-radio"
          />
          <label for="high-priority-radio"> <span class="bg-priority-high"></span> High </label>
        </div>
      </div>

      @if (priorityIsInvalid) {
        <p class="text-danger text-sm">Select a priority</p>
      }
    </fieldset>

    <div class="flex flex-col gap-1.5">
      <label for="column-input" class="label">Column</label>
      <select formControlName="column" name="column-name" id="column-input" class="input" required>
        @for (column of columns(); track column.id) {
          <option [value]="column.id">
            {{ column.header }}
          </option>
        }
      </select>

      @if (columnIsInvalid) {
        <p class="text-danger text-sm">Select a column</p>
      }
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="tags-input" class="label">Tags</label>
      @if (selectedTags().length !== 0) {
        <div class="mb-3 flex flex-wrap gap-1.5">
          @for (tag of selectedTags(); track tag.id) {
            <os-task-tag
              removeButton="true"
              (remove)="removeTag(tag.id)"
              [color]="tag.color"
              (click)="onTagClick(tag.id)"
              class="cursor-pointer select-none"
            >
              {{ tag.text }}
            </os-task-tag>
          }
        </div>
      }

      <input
        formControlName="tags"
        (keydown.enter)="onTagEnter($event)"
        type="text"
        inputmode="text"
        enterkeyhint="done"
        autocomplete="off"
        id="tags-input"
        placeholder="Add tag..."
        class="input"
      />
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="start-date-input" class="label">Start Date</label>
      <input formControlName="startDate" type="date" id="start-date-input" class="input" required />

      @if (startDateIsInvalid) {
        <p class="text-danger text-sm">select a valid start date</p>
      }
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="due-date-input" class="label">Due Date</label>
      <input
        formControlName="dueDate"
        [min]="minDueDate()"
        type="date"
        id="due-date-input"
        class="input"
        required
      />

      @if (dueDateIsInvalid) {
        <p class="text-danger text-sm">select a valid due date</p>
      }
    </div>

    <hr class="text-border" />

    <div class="flex justify-end gap-2 font-mono text-[12px]">
      <button
        type="button"
        (click)="onDialogClosed()"
        class="border-border text-secondary hover:bg-surface2 hover:text-primary cursor-pointer rounded-lg border bg-transparent px-4.5 py-2 focus-within:outline-[var(--color)] focus-visible:outline"
      >
        Cancel
      </button>

      <button
        #submitBtnElement
        type="submit"
        class="text-primary cursor-pointer rounded-lg bg-[var(--color)] px-5.5 py-2 font-medium focus-within:outline-[var(--color)] hover:opacity-85 focus-visible:outline"
      >
        Add task
      </button>
    </div>
  </form>
</dialog>
