<dialog
  #dialogElement
  (click)="closeModal()"
  (keydown.esc)="closeModal()"
  (close)="closeModal()"
  tabindex="0"
  class="border-border text-primary bg-surface before:bg-os-indigo relative mx-auto w-full max-w-130 self-center rounded-2xl border backdrop:bg-black/40 before:absolute before:top-0 before:left-0 before:h-0.5 before:w-full"
>
  <header class="flex items-center justify-between px-6 pt-5">
    <div>
      <div class="bg-surface2 border-border flex items-center gap-2 rounded-2xl border px-3 py-1">
        <span class="bg-os-indigo shadow-os-indigo h-1.5 w-1.5 rounded-full"></span>
        <span class="text-secondary text-sm tracking-[0.5px]">To Do</span>
      </div>

      <h2 class="mt-3.5 text-lg font-extrabold -tracking-[0.3px]">Add new task</h2>
    </div>

    <button
      class="bg-surface2 border-border text-secondary hover:bg-surface3 hover:text-primary focus:outline-os-indigo -mt-3.5 flex h-7.5 w-7.5 cursor-pointer items-center justify-center rounded-lg border text-base focus-visible:outline"
      (click)="closeModal()"
    >
      ✕
    </button>
  </header>

  <form class="flex flex-col gap-4 px-6 pt-5 pb-6">
    <div class="flex flex-col gap-1.5">
      <label for="task-title" class="label">Task Title</label>
      <input id="task-title" type="text" placeholder="What needs to be done" class="input" />
    </div>

    <hr class="text-border" />

    <fieldset class="flex flex-col">
      <legend class="label">Priority</legend>

      <div class="mt-1.5 flex gap-2">
        <div class="priority-radio">
          <input type="radio" name="priority" id="low-priority-radio" />
          <label for="low-priority-radio"> <span class="bg-priority-low"></span> Low </label>
        </div>

        <div class="priority-radio flex-1">
          <input type="radio" name="priority" id="medium-priority-radio" />
          <label for="medium-priority-radio">
            <span class="bg-priority-medium"></span> Medium
          </label>
        </div>

        <div class="priority-radio flex-1">
          <input type="radio" name="priority" id="high-priority-radio" />
          <label for="high-priority-radio"> <span class="bg-priority-high"></span> High </label>
        </div>
      </div>
    </fieldset>

    <div class="flex flex-col gap-1.5">
      <label for="column-input" class="label">Column</label>
      <select name="column-name" id="column-input" class="input">
        <option value="todo">To Do</option>
        <option value="inprog">In Progress</option>
        <option value="review">In Review</option>
        <option value="done">Done</option>
      </select>
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="start-date-input" class="label">Start Date</label>
      <input type="date" id="start-date-input" class="input" />
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="due-date-input" class="label">Due Date</label>
      <input type="date" id="due-date-input" class="input" />
    </div>

    <div class="flex flex-col gap-1.5">
      <label for="meta-tag-input" class="label">Tags</label>
      <input type="text" id="meta-tag-input" placeholder="Add tag..." class="input" />
    </div>

    <hr class="text-border" />

    <div class="flex justify-end gap-2 font-mono text-[12px]">
      <button
        (click)="closeModal()"
        class="border-border text-secondary hover:bg-surface2 hover:text-primary cursor-pointer rounded-lg border bg-transparent px-4.5 py-2"
      >
        Cancel
      </button>

      <button
        class="bg-os-indigo text-primary cursor-pointer rounded-lg px-5.5 py-2 font-medium hover:opacity-85"
      >
        Add task
      </button>
    </div>
  </form>
</dialog>
