<header
  cdkDragHandle
  class="border-b-border flex cursor-grab items-center justify-between border-b-1 px-4.5 pt-4 pb-3.5"
>
  <div class="flex items-center gap-2.5 active:cursor-grabbing">
    <span class="block h-2 w-2 rounded-full bg-[var(--color)] shadow-[var(--color)]"></span>

    <h3 class="text-sm font-bold uppercase">
      <ng-content select="Header" />
    </h3>

    <span class="text-muted bg-surface3 block rounded-2xl px-2 py-0.5 text-center text-sm">{{
      numberOfTasks()
    }}</span>
  </div>

  <div class="flex gap-2">
    <button
      type="button"
      title="Delete task"
      (click)="onDelete()"
      class="hover:bg-surface3 cursor-pointer rounded-md p-0.5"
    >
      <img ngSrc="/images/icons/trash-can.svg" alt="Delete Task" width="15" height="15" />
    </button>

    <button
      type="button"
      title="Edit task"
      (click)="onEdit()"
      class="hover:bg-surface3 cursor-pointer rounded-sm p-0.5"
    >
      <img ngSrc="/images/icons/edit-button.svg" alt="Edit task" width="15" height="15" />
    </button>
  </div>
</header>

<div class="tasks-list flex min-h-0 flex-1 flex-col gap-2.5 overflow-y-auto p-3.5">
  <ng-content select="os-task-card" />
</div>

<div class="border-border border-t px-3.5 py-3">
  <button
    (click)="onAddTask()"
    class="border-border text-muted hover:bg-surface2 hover:border-muted hover:text-secondary w-full cursor-pointer rounded-lg border border-dashed p-2.5 text-center font-mono text-xs"
  >
    + Add a task
  </button>
</div>
