/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-display: 'Syne', sans-serif;
  --font-mono: 'DM Mono', monospace;

  --color-bg: #0e0e10;
  --color-surface: #16161a;
  --color-surface2: #1e1e24;
  --color-surface3: #252530;
  --color-border: #2a2a35;
  --color-todo: #6c63ff;
  --color-inprog: #ff9f43;
  --color-review: #54a0ff;
  --color-done: #1dd1a1;
  --color-danger: #ff6b6b;
  --color-muted: #44445a;
  --color-primary: #f0f0f5;
  --color-secondary: #7a7a90;
  --color-border: #2a2a35;;

  --shadow-todo: 0 0 8px #6c63ff;
  --shadow-inprog: 0 0 8px #ff9f43;
  --shadow-review: 0 0 8px #54a0ff;
  --shadow-done: 0 0 8px #1dd1a1;
}

@layer utilities {
  .bg-logo-gradiant {
    background: linear-gradient(135deg, #6c63ff, #a78bfa);
  }
}
